:root {
    --Light_red: hsl(0, 100%, 67%);
    --Orangey_yellow: hsl(39, 100%, 56%);
    --Green_teal: hsl(166, 100%, 37%);
    --Cobalt-blue: hsl(234, 85%, 45%);
    --Light_slate_blue: hsl(252, 100%, 67%);
    --Light_royal_blue: hsl(241, 81%, 54%);

    --Violet_blu: hsla(256, 72%, 46%, 1);
    --Persian_blue: hsla(241, 72%, 46%, 0);



    --White: hsl(0, 0%, 100%);
    --Pale_blue: hsl(221, 100%, 96%);
    --Ligh_lavender: hsl(241, 100%, 89%);
    --Dark_gray_blue: hsl(224, 30%, 27%);

    --fuente: "Hanken Grotesk", sans-serif;
}

* {
    margin: 0;
    box-sizing: border-box;
    font-family: var(--fuente);
    font-weight: 800;
}


body {
    height: 100vh;
    width: 100vw;

}


.contenedorPrincipal {
    border-radius: 0 0 20px 20px;
    height: 50%;
    width: 100%;
    display: flex;
    flex-direction: column;
    background: linear-gradient(var(--Light_slate_blue),var(--Light_royal_blue));
    align-items: center;
    justify-content: space-between;
}

.contenedorPrincipal h3 {
    color: var(--Ligh_lavender);
    font-size: 15px;
    padding-top: 20px;

}

.bolaCentro {
    margin-top: 30px;
    height: 20vh;
    width: 20vh;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    text-align: center;
    border-radius: 50%;
    background: linear-gradient( var(--Light_royal_blue), var(--Light_slate_blue) );
    gap: 5px;

    
}

.porcentaje {
    width: 100%;
    font-size: 40px;
    color: var(--White);
    
}

.porcentajeMayor {
    width: 100%;
    font-size: 15px;
    color: var(--Ligh_lavender);

}


.abajo {
    padding: 0px 0 20px 0;
    width: 100%;
    display: flex;
    flex-direction:column;
    text-align: center;

}

.abajo h1{
    color: var(--White);
    font-size: 30px;
}

.abajo h3{
    padding: 10px 0 10px 0; 
    color: var(--Ligh_lavender);
    
}

.cosas{
    width: 100%;
    height: 40%;
    padding: 10px;
    display: flex;
    flex-direction: column;
}


.cositas{
    margin-bottom: 10px;
    height: 55px;
    padding: 20px;
    border: 2px solid black;
    display: flex;
    align-items: center;
    justify-content: space-between;
    border-radius: 10px;
    font-weight: 600;
    font-size: 16px;
    
}


.btn{
    justify-self: center;
    align-content: center;
    height: 50px;
    width: 60%;
    text-align: center;
    margin-top: 15px;
    border: 2px solid black;
    color: var(--White);
    background-color: var(--Dark_gray_blue);
    border-radius: 20px;
}

@media(min-width:1200px){
 

    
 
}